.code-input {
  width: 90%;
  margin: auto;
}

.code-input input {
  color: white !important;
  padding: 10px 12px 10px;
  font-size: 35px;
  text-align: center;
  max-width: 90%;
  font-weight: bold;
}

.code-input input::placeholder {
  color: white !important;
  font-weight: bold;
  background: linear-gradient(111deg, #5acfff, #fd66ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-media {
  cursor: default;
  position: relative;
}

.input-container {
  position: relative;
  border-radius: 10px !important;
}
