.player-turn-notice {
  background: #007bd259;
  background: linear-gradient(0deg, #007bd2bd 0%, #03127bbf 100%);
  border: 3px double #00000087;
  h3 {
    color: white;
    font-weight: bold;
    font-size: 5vw;
  }
}
