.disable-pointer-events {
  pointer-events: none;
}

.window-inner {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.window {
  opacity: 1;
  transition: background-color 300ms linear;
  background-color: #ffffff00;
}

.window.blurred-bkgd,
.window.blurred-bkgd:before,
.window.blurred-bkgd:after,
.fade-background {
  transition: background-color 100ms linear, background-image 100ms linear;
}

.window.hiding {
  transition: translateY(-100px);
  opacity: 0;
}

.window.hidden {
  transition: transform 150ms linear, opacity 150ms;
  max-width: 0px;
  max-height: 0px;
  border-width: 0px;
  transition: translateY(-100px);
  opacity: 0;
}

.window-pad {
  margin: 3px;
}

/*
.blurred-bkgd-before,
.blurred-bkgd-after
*/
