.no-content {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  align-items: flex-end;
  flex-grow: 1;
  width: 100%;
  flex-wrap: wrap;

  .message {
    text-align: center;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: #8e8e8e;
  }
}
